<!-- <<div class="background">
  <div>
    <div class="row">
      <div class="sidebar" style="margin-top: 261px;">
        <a class="nav-button"><i class="fa fa-fw fa-home"></i>Professor Registration</a>
        <a class="nav-button"><i class="fa fa-fw fa-home"></i>Student Registration</a>
      </div>
      <div>
      <app-student-registration></app-student-registration>

      </div>
    </div>
  </div>
</div>
 -->
<div class="background">
  <div class="row">

      <img src="../../assets/images/boy.jpg" class="profile">

      <div class="column">
        <div class="col heading">
          Welcome Admin..!!
        </div>
        <div class="col sub-heading">
         Name of Admin
        </div>
      </div>

    </div>
    <hr class="line">
        <div class="sidebar" style="margin-top: 31px;">
          <a class="nav-button"><i class="fa fa-fw fa-home"></i>Professor Registration</a>
          <a class="nav-button"><i class="fa fa-fw fa-home"></i>Student Registration</a>
    </div>
</div>
