<div class="background">
  <div class="row">

    <img src="../../assets/images/logo.jpg" class="logo">

    <div class="column">
      <div class="col heading">
        KEYSTONE SCHOOL OF ENGINEERING
      </div>
      <div class="col sub-heading">
        By The Teachers, Of The Students, For The Society.
      </div>
    </div>

  </div>
  <div>
    <div class="row">
      <div class="sidebar">
        <a class="nav-button"><i class="fa fa-fw fa-home"></i>Home</a>
        <a class="nav-button"><i class="fa fa-fw fa-home"></i>Admin</a>
        <a class="nav-button"><i class="fa fa-fw fa-home"></i>Professor</a>
        <a class="nav-button"><i class="fa fa-fw fa-home"></i>Student</a>
      </div>
      <div>
      <!--app-student-login></app-student-login-->
        <app-admin-login> </app-admin-login>
      </div>
    </div>
  </div>
</div>
