<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Student Details</h5>
            <form class="form-signin" [formGroup]="detailForm">

              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name Here"
                  required autofocus><button (click)="updateStudent('firstName')" class="btn btn-sm btn-primary">Edit</button>
              </div>

              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name Here"
                  required autofocus><button (click)="updateStudent('lastName')" class="btn btn-sm btn-primary">Edit</button>
              </div>

              <div class="form-group">
                <label>Email Address</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Enter Email Address Here"
                  required autofocus><button (click)="updateStudent('email')" class="btn btn-sm btn-primary">Edit</button>
              </div>

              <div class="form-group">
                <label>Class</label>
                <input type="text" class="form-control" formControlName="class" placeholder="Enter Class Here"
                  required autofocus><button (click)="updateStudent('class')" class="btn btn-sm btn-primary">Edit</button>
              </div>

              <div class="form-group">
                <label>Date of Birth</label>
                <input type="text" class="form-control" formControlName="dob" placeholder="Enter Date of Birth Here"
                  required autofocus><button (click)="updateStudent('dob')" class="btn btn-sm btn-primary">Edit</button>
              </div>

              <div class="form-group">
                <label>Type of Admission</label>
                <input type="text" class="form-control" formControlName="typeOfAdmission" placeholder="Enter Type of Admission Here"
                  required autofocus><button (click)="updateStudent('typeOfAdmission')" class="btn btn-sm btn-primary">Edit</button>
              </div>
              <!-- <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="onUpdate()" type="submit">Sign
                in</button>
              <hr class="my-4"> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
